/* .medicine-card {
  border: 1px solid grey;
  border-radius: 30px;
  box-shadow: 5px 5px 5px grey;
  opacity: 90%;
  padding: 5px;
  width: 400px;
  height: auto;
  margin-right: 20px;
  margin-top: 10px;
  background-color: white;
} */

.wishlist {
  position: absolute;
  margin-left: 80%;
}

/* .back
{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
} */


.heading
{
  margin-top: 30px;
  margin-bottom: 30px;
}
.txt
{
  margin-left: 20px;
}
.home
{
  padding: 0%;
  margin: 0%;
  /* margin-left: 20px; */
  /* margin-right: 50px; */
  
  background-color: lightblue;
 /* background-image: url("../images/background.jfif");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; */
  /* height: 100%; */
  /* background-attachment: scroll; */
}

.back
{
  /* margin-left: 20px; */
  /* margin-right: 50px; */
  padding: 0%;
  margin: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.each-card
{
  /* padding: 90px; */
  /* margin: 30px 30px; */
  /* border: 5px solid green; */
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* bac */
  /* width: 10px; */
  /* padding: 40px; */
  /* width: 50px; */
  /* height: 150px; */
  /* box-shadow: 20px 20px 30px 10px black; */
  background-color: white;

}

.medtag
{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 30px; */
}

.img{
  height: 300px;
}

.whole
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page
{
  text-align: center;
}